#inferenced {
  background-color: black;
}

#inferenced .inferenced-row {
  margin-inline: 1rem;
  padding-block: 4rem;
  border-bottom: 1px solid white;
}

#inferenced h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#inferenced p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

#inferenced .info {
  margin-top: 3rem;
  display: flex;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 3rem;
  font-size: 15px;
}

#inferenced .info .i-1 {
  font-weight: normal;
  list-style: none;
}

#inferenced .info .i-2 {
  font-weight: lighter;
  list-style: none;
}

#inferenced .btn {
  background-color: #222222;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  margin-block: 2rem 3rem;
  padding: 0.4rem 1rem;
  border-radius: 50px;
}

#inferenced .btn:hover {
  background-color: #333333;
  color: white;
}

#inferenced .img-div {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
}

#inferenced .card {
  border-radius: 50px;
  border: none;
  background-color: transparent;
}

#inferenced img {
  border-radius: 10px;
}

/* Mobile screens */

@media (max-width: 573px) {
  #inferenced .inferenced-row {
    margin-inline: 1rem;
  }
}
