#zero {
  background-color: #000000;
}

#zero .zero-row {
  margin-inline: 2rem;
  padding-block: 4rem;
  border-bottom: 1px solid white;
}

#zero h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#zero p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

#zero .info {
  margin-top: 3rem;
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  gap: 3rem;
  font-size: 15px;
}

#zero .info .i-1 {
  font-weight: bold;
  list-style: none;
}

#zero .info .i-2 {
  font-weight: lighter;
  list-style: none;
}

#zero .btn {
  background-color: #222222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-block: 2rem 3rem;
  padding: 0.4rem 1rem;
  border-radius: 50px;
}

#zero .btn:hover {
  background-color: #333333;
  color: white;
}

#zero .img-div {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
}

#zero .card {
  border-radius: 50px;
  border: none;
  background-color: transparent;
}

#zero img {
  border-radius: 10px;
}

/* Mobile screens */

@media (max-width: 573px) {
  #zero .zero-row {
    margin-inline: 1rem;
  }
}