#footer .card-group4 {
  gap: 2rem;
  padding: 2rem;
}

#footer .card-7 {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
}

#footer .card-7 .social-media {
  background-color: transparent;
  display: flex;
  gap: 1rem;
}

#footer .card-7 .social-media a {
  color: white;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: 0.4s;
}

#footer .card-7 .social-media a:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
}

#footer .card-7 .social-media .twitter {
  color: black;
  background-color: white;
  border: 2px solid white;
  transition: 0.4s;
}

#footer .card-7 .social-media .twitter:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

#footer .card-8 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
}

/* Mobile screens */

@media (max-width: 573px) {
  #footer .card-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  #footer .card-8 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
