html {
  background-color: #000000;
}

@font-face {
  font-family: SegmentAKeyTrial-Black;
  src: local(SegmentAKeyTrial-Black)
      url("./main/fonts/SegmentAKeyTrial-Black.woff2") format("woff2"),
    url("./main/fonts/SegmentAKeyTrial-Black.woff") format("woff");
  font-display: block;
}
