html {
  background-color: #000000;
}

.hr {
  color: white;
}

@font-face {
  font-family: SegmentAKeyTrial-Black;
  src: url("./main/fonts/SegmentAKeyTrial-Black.otf");
}

@font-face {
  font-family: SegmentAKeyTrial-Bold;
  src: url("./main/fonts/SegmentAKeyTrial-Bold.otf");
}

@font-face {
  font-family: SegmentAKeyTrial-Regular;
  src: url("./main/fonts/SegmentAKeyTrial-Regular.otf");
}
